#!/bin/bash -e
mongoimport -username='<USERNAME>' --config='import-config.yml' --collection players --type json --file players.json
mongoimport -username='<USERNAME>' --config='import-config.yml' --collection offerings --type json --file offerings.json
mongoimport -username='<USERNAME>' --config='import-config.yml' --collection seeds --type json --file seeds.json
mongoimport -username='<USERNAME>' --config='import-config.yml' --collection wishlists --type json --file wishlists.json