body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  padding: 1rem 0;
}

/* #region  NAVBAR */
nav {
  font-weight: 500;
  margin-bottom: 1rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(33, 33, 33, 0.6);
}

.table {
  color: var(--dark);
}

.table td,
.table th {
  vertical-align: middle;
}

.deleteLink {
  display: block;
  margin-top: 0.5rem;
  text-align: center;
}

button a,
button a:hover {
  color: #fff;
  text-decoration: none;
}

/* TODO: Fix positioning of 'Edit' button for shorter descriptions eg Hanh */
.table button {
  width: 100%;
}

.table tr td:last-child {
  padding: 0.5rem 0;
}

.table td {
  border-top: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.wishlist-info {
  /* display: flex; */
  margin-top: 1rem;
}

@media (min-width: 900px) {
  .wishlist-info p {
    width: 50%;
  }
}

.printed-wishlist {
  flex-grow: 2;
}

.printed-wishlist button {
  margin: 1rem 0;
}

.wishlist-table th {
  border-top: none;
}

.wishlist-table th:first-child {
  width: 1rem;
}

.wishlist-table tr td:last-child {
  text-align: right;
  padding-right: 1rem;
}

.offering {
  background-color: hsla(197, 82.5%, 49.4%, 0.37);
}

/* HACK: This overrides zen-table styles, until we don't use them anymore */
.offering:hover {
  background-color: hsla(197, 82.5%, 49.4%, 0.37) !important;
}

.potluck-item {
  background-color: hsla(118.1, 93.2%, 40.6%, 0.37);
}

.potluck-item:hover {
  background-color: hsla(118.1, 93.2%, 40.6%, 0.37) !important;
}
